.container {
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 10px 10px;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
}

.container > button {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #216fdb;
  border: 1px solid #e7e8ea;
  border-radius: 50px;
  padding: 3px 11px;
  cursor: pointer;
}
.container > button:hover {
  background-color: #f1f1f1;
}
.container > button > img {
  padding-right: 10px;
  width: 34px;
  height: 34px;
  object-fit: contain;
}
