.container {
  height: 200px;
  width: 110px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.container__avatar {
  height: 75%;
}
.container__infor {
  height: 25%;
  align-items: center;
  text-align: center;
  position: relative;
}
.container__infor > button {
  position: absolute;
  top: 00px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 36px;
  width: 36px;
  background-color: rgb(147, 97, 239);
  border-radius: 50%;
  outline: 4px solid #fff;
  border: none;
  cursor: pointer;
  /* margin-top: -20px; */
  z-index: 4;
}
.container__infor > button > i {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0;
  color: #fff;
}
.container__infor > p {
  padding-top: 24px;
  margin: 0;
  font-weight: 500;
}
