.container {
  padding: 0 0.8rem;
  display: flex;
  /* justify-content: ; */
  /* align-items: center; */
  justify-content: space-between;
}
.container > div:nth-child(1) {
  width: 23%;
}
.container > div:nth-child(2) {
  width: 40%;
}
.container > div:nth-child(3) {
  width: 23%;
}
.children {
  /* width: calc(100% / 3); */
  background-color: red;
}
